body {
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  height: 100vh;
}
